# Ignore the redrat hub logs
/setup_files/IR_blaster/RedRatHub-V8.01/logs/

/evidence/*
/temp/*

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment variables file, later we can add .env.example to show what variables are needed without exposing secrets
#.env

# IDE files
.idea/
.vscode/

# Allure Reports
allure-report/
allure-results/
